---
title: Changelog
---
{{#extend "layout"}}
	{{#content "body"}}
		<div class="copy changelog">
			<p>
				This is a list of the major changes.
				For a full list of changes see the
				<a href="https://github.com/UziTech/regexper/commits/master">commit log</a>
			</p>
			<hr />
			<dl>
				{{#each changelog}}
					<dt>{{label}}</dt>
					{{#each changes}}
						<dd>{{{this}}}</dd>
					{{/each}}
				{{/each}}
			</dl>
		</div>
	{{/content}}
{{/extend}}
